.app {
  height: 100vh;
  background-color: #222831;
  position: relative;
}

.gridDisplay {
  display: grid;
  grid-template-columns: 35vw auto;
  justify-items: center;
  align-items: center;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
